.item {
  width: 240px;
  aspect-ratio: 4/3;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 1.5rem; /* 3 times the default border-radius value */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
  
}

img{
  height: 50px;
  width:50px
}
h2{
  font-size: 1rem;
}

@media (min-width: 768px) {
  .item {
    width: 400px;
    height: 230px;
  }
}
